:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --font-size-xs: 10px;
  --font-size-sm: 12px;
  --font-size-base: 16px;
  --font-size-lg: 20px;

  /* Colors */
  --color-white: #fff;
  --color-darkred: #9f2404;
  --color-black: #000;

  /* Gaps */
  --gap-xs: 2px;
  --gap-sm: 3px;
  --gap-md: 4px;
  --gap-lg: 10px;

  /* Paddings */
  --padding-2xs: 5px;
  --padding-xs: 6px;
  --padding-sm: 7px;
  --padding-md: 8px;
  --padding-lg: 10px;
  --padding-xl: 12px;
  --padding-2xl: 14px;

  /* border radiuses */
  --br-md: 10px;
}
