body {
  margin: 0;
  line-height: normal;
}
.payment {
  position: absolute;
  top: calc(50% - 26.5px);
  left: calc(50% - 83.5px);
  line-height: 150%;
  font-weight: 800;
}
.payment-wrapper {
  position: absolute;
  bottom: 0;
  left: calc(50% - 196.5px);
  background: linear-gradient(180deg, rgba(69, 25, 21, 0), #451915);
  width: 393px;
  height: 107px;
  overflow: hidden;
}
.content-inner {
  align-self: stretch;
  position: relative;
  height: 126px;
  flex-shrink: 0;
  overflow: hidden;
  background-image: url(./public/frame-21@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.image-2-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 96.21px;
  height: 56px;
  object-fit: cover;
}
.image-2-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  border-radius: var(--br-sm);
  width: 55px;
  height: 55px;
  flex-shrink: 0;
  overflow: hidden;
  background-image: url(./public/frame-40@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.image-3-icon,
.image-4-icon,
.image-6-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 64px;
  object-fit: cover;
}
.image-4-icon,
.image-6-icon {
  width: 56px;
  height: 55px;
}
.image-6-icon {
  height: 56px;
}
.image-6-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  position: relative;
  border-radius: var(--br-sm);
  width: 55px;
  height: 55px;
  flex-shrink: 0;
  overflow: hidden;
}
.frame-parent {
  width: 360px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 38px;
}
.page-1-icon,
.vector-icon {
  position: relative;
  width: 164.41px;
  height: 34.78px;
  flex-shrink: 0;
}
.vector-icon {
  width: 15px;
  height: 15px;
}
.page-1-parent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-md) var(--padding-xl);
  background-color: var(--color-white);
  border-radius: var(--br-md);
  width: 360px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 120px;
}
.image-5-icon {
  position: absolute;
  top: 0;
  left: 0.5px;
  width: 77px;
  height: 30px;
  object-fit: cover;
}
.vector-icon1 {
  position: absolute;
  top: 7.5px;
  left: 288px;
  width: 15px;
  height: 15px;
}
.image-5-parent {
  flex: 1;
  position: relative;
  height: 30px;
}
.content-child {
  cursor: pointer;
  border: 0;
  padding: var(--padding-md) var(--padding-xl);
  background-color: var(--color-white);
  border-radius: var(--br-md);
  width: 360px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.material-symbolsadd-card-outl-icon {
  position: relative;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  overflow: hidden;
}
.debit-card {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 150%;
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
}
.content,
.material-symbolsadd-card-outl-parent {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.material-symbolsadd-card-outl-parent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-md) var(--padding-xl);
  background-color: var(--color-white);
  border-radius: var(--br-md);
  width: 360px;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-md);
}
.content {
  position: absolute;
  top: 0;
  left: calc(50% - 196.5px);
  background: linear-gradient(179.95deg, #371718 25%, #9e2404);
  width: 393px;
  height: 852px;
  flex-direction: column;
  padding: 0 0 75px;
  justify-content: flex-start;
  gap: 18px;
}
.subtotal {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.span {
  text-decoration: line-through;
}
.div {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  text-align: right;
}
.subtotal-parent {
  height: 33px;
  flex-shrink: 0;
  padding: var(--padding-xs) var(--padding-2xs);
  box-sizing: border-box;
}
.grand-total-parent,
.subtotal-parent,
.tax-parent {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.tax-parent {
  border-bottom: 1px solid #b1b1b1;
  box-sizing: border-box;
  height: 32px;
  flex-shrink: 0;
  padding: var(--padding-xs) var(--padding-2xs);
  font-size: var(--font-size-xs);
}
.grand-total-parent {
  padding: 9px var(--padding-2xs) var(--padding-xs);
}
.frame-container {
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  width: 352px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-sm);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.menu {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.button,
.frame-group,
.sticky-bar {
  overflow: hidden;
  box-sizing: border-box;
  align-items: center;
}
.button {
  cursor: pointer;
  border: 1px solid var(--color-white);
  padding: 8px 53px;
  background-color: #9f2404;
  border-radius: var(--br-sm);
  width: 344px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.frame-group,
.sticky-bar {
  width: 393px;
}
.sticky-bar {
  background-color: var(--color-white);
  display: none;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-sm) 20px 22px;
  justify-content: flex-start;
  gap: 55px;
}
.frame-group {
  position: absolute;
  bottom: 0;
  left: calc(50% - 196.5px);
  display: flex;
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  justify-content: center;
  gap: var(--gap-sm);
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.menu-page {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 852px;
  overflow-y: auto;
  text-align: left;
  font-size: 35px;
  color: var(--color-white);
  font-family: var(--font-poppins);
}
